
// Mixins
//
// Styleguide: Abstracts.Mixins


// Clearfix
//
// A simple mixin for clearfix
// Use @include clearfix
//
// Styleguide: Abstracts.Mixins.clearfix
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}


// abs-center
//
// A mixin to center absolute elements 
// Use @include abs-center
//
// Styleguide: Abstracts.Mixins.abs-center
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// Media Query Manager
//
// $breakpoint argument choices:
// - phone -- 0 - 600px
// - tab-port -- 600px - 900px
// - tab-land -- 900px - 1200px
// - [1200px-1800px]: is where our normal styles apply
// - big-desktop -- 1800px +
//
// Use @include respond($breakpoint) { ... }
//
// Style guide: Abstracts.Mixins.media-query-manager

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content; };   //600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content; };    //900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content; };   //1200px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content; };   //1800px
  }
}
