{
  "extends": [
  	"stylelint-config-sass-guidelines",
  	"stylelint-config-rational-order",
    "stylelint-a11y"
  ],
  "rules": {
  	"order/properties-alphabetical-order": null,
    "max-nesting-depth": 4,
  }
}
