// Background Video
//
// Markup:
//<div class="section-stories">
//    <div class="u-zindex-0 bg-video">
//        <video class="bg-video__content" autoplay muted loop>
//            <source src="../img/video.mp4" type="video/mp4">
//            <source src="../img/video.webm" type="video/webm">
//            Your browser is not supported!
//        </video>
//    </div>
//</div>
//
// Styleguide: Components.bg-video
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.15;

  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
