// Popup
//
// Markup:
//<form action="#" class="form">
//    <div class="form__group">
//        <input type="text" class="form__input" placeholder="Full name" id="name" required>
//        <label for="name" class="form__label">Full name</label>
//    </div>
//    <div class="form__group">
//        <input type="email" class="form__input" placeholder="Email address" id="email" required>
//        <label for="email" class="form__label">Email address</label>
//    </div>
//    <div class="form-group u-margin-bottom-medium">
//        <div class="form__radio-group">
//            <input type="radio" class="form__radio-input" id="small" name="size">
//            <label for="small" class="form__radio-label">
//                <span class="form__radio-button"></span>
//                Small tour group
//            </label>
//        </div>
//        <div class="form__radio-group">
//            <input type="radio" class="form__radio-input" id="large" name="size">
//            <label for="large" class="form__radio-label">
//                <span class="form__radio-button"></span>
//                Large tour group
//            </label>
//        </div>
//    </div>
//    <div class="form__group">
//        <button class="btn btn--green">Next step &rarr;</button>
//    </div>
//</form>
//
// Styleguide: Components.popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    background-color: rgba($color-black, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      display: inline-block;
      color: $color-grey-dark;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include abs-center;

    display: table;
    width: 75%;
    overflow: hidden;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.8);
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    transition: all 0.5s 0.2s;
  }

  &__left {
    display: table-cell;
    width: 33.333333%;
  }

  &__right {
    display: table-cell;
    width: 66.666667%;
    padding: 3rem 5rem;
    vertical-align: middle;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    hyphens: auto;
    column-count: 2;
    column-gap: 4rem; //1em = 14px
    column-rule: 1px solid $color-grey-light-2;
  }
}
