// Story
//
// Markup:
//<div class="row">
//  <div class="story {{modifier_class}}">
//      <figure class="story__shape">
//          <img src="/img/nat-8.jpg" alt="Peron on a tour" class="story__img">
//          <figcaption class="story__caption">Mary Smith</figcaption>
//      </figure>
//      <div class="story__text">
//          <h3 class="heading-tertiary u-margin-bottom-small">
//              I had the best week ever with my family
//          </h3>
//          <p>
//              Loremn ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis in, officiis ea quae assumenda ipsam dolores tempore illo ullam odit natus sed rem distinctio atque mollitia. Illo est accusamus laboriosam. Loremn ipsum dolor sit amet, consectetur adipisicing elit.
//          </p>
//      </div>
//  </div>
//</div>
//
// :hover - hover state
//
// Styleguide: Components.story
.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(-3rem) skewX(12deg);

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      border-radius: none;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewY(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    backface-visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover  &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover  &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
    transition: all 0.5s;
  }
}
